{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
  <h1 class="text-center mb-4">S'inscrire</h1>

  <form method="POST" action="{{ path('app_register') }}" class="w-100" style="max-width: 500px;">
    {{ form_start(registerForm) }}

    <div class="mb-3">
      {{ form_label(registerForm.name) }}
      {{ form_widget(registerForm.name, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
      {{ form_label(registerForm.email) }}
      {{ form_widget(registerForm.email, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
      {{ form_label(registerForm.password) }}
      {{ form_widget(registerForm.password, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
      {{ form_label(registerForm.password_confirm) }}
      {{ form_widget(registerForm.password_confirm, {'attr': {'class': 'form-control'}}) }}
    </div>

    <button type="submit" class="btn btn-primary">S'inscrire</button>

    {{ form_end(registerForm) }}
  </form>
{% endblock %}
