{% extends 'base.html.twig' %}

{% block title %}Nouvelle Plante{% endblock %}

{% block body %}
	<h1 class="mb-4">Ajouter une Nouvelle Plante</h1>

	{{ form_start(form, {'method': 'POST'}) }}

	<div class="mb-3">
		{{ form_label(form.name) }}
		{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.name) }}
	</div>

	<div class="mb-3">
		{{ form_label(form.price) }}
		{{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.price) }}
	</div>

	<div class="mb-3">
		{{ form_label(form.description) }}
		{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.description) }}
	</div>

	<div class="mb-3">
		{{ form_label(form.stock) }}
		{{ form_widget(form.stock, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.stock) }}
	</div>

	<button type="submit" class="btn btn-success">Créer</button>

	{{ form_widget(form._token) }}
	{{ form_end(form, {'render_rest': false}) }}
{% endblock %}
